html{
h1 {
    text-align: center;
}
.tanggal {
    text-align:end;
    text-decoration:underline ;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
.perkenalan {
    color: rgb(248, 252, 255);

}
.salam {
    font-size:19px;
    text-decoration:underline
}
body {
    }
    background-color: rgb(245, 224, 186);
}
.bahasa  {
    text-decoration:underline;

}
